<a href="https://colab.research.google.com/github/nachopodesta/pandas-for-data-analysis/blob/main/Python_Pandas_Python_Library_For_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python Pandas - Python Library For Data Analysis

### https://www.udemy.com/course/python-pandas-python-library-for-data-analysis

In [1]:
import pandas as pd

## Creating a dataframe

In [3]:
df = pd.DataFrame(data=["hello","how","you"])
df

       0
0  hello
1    how
2    you

In [4]:
df = pd.DataFrame(data=['apple','orange','mango'], columns=['fruits'],
                  index=['1','2','3'])

df

   fruits
1   apple
2  orange
3   mango

In [5]:
data_list = [
             ['Sara',26,'texas'],
             ['Malu',29,'california'],
             ['Roman', 37, 'pensacola'],
]

In [6]:
df = pd.DataFrame(data=data_list,columns=['Name','Age','City'])
df

    Name  Age        City
0   Sara   26       texas
1   Malu   29  california
2  Roman   37   pensacola

In [12]:
data_dict = {
    'Name':['Seth','Roman','Becky'],
    'Age':[30,39,35],
    'City':['Iowa','Texas','Colorado']
}

In [13]:
df2 = pd.DataFrame(data_dict)
df2

    Name  Age      City
0   Seth   30      Iowa
1  Roman   39     Texas
2  Becky   35  Colorado

## Add columns and rows

In [16]:
data_list = [
             ['Sara',26,34],
             ['Malu',29,45],
             ['Roman',37,34],
]

df = pd.DataFrame(data=data_list, columns=['Name','English','Maths'])
df

    Name  English  Maths
0   Sara       26     34
1   Malu       29     45
2  Roman       37     34

In [17]:
df['Name']

0     Sara
1     Malu
2    Roman
Name: Name, dtype: object

In [18]:
df['Chemistry'] = [45,56,67]
df

    Name  English  Maths  Chemistry
0   Sara       26     34         45
1   Malu       29     45         56
2  Roman       37     34         67

In [19]:
df['Total'] = df['English'] + df['Maths'] + df['Chemistry']
df

    Name  English  Maths  Chemistry  Total
0   Sara       26     34         45    105
1   Malu       29     45         56    130
2  Roman       37     34         67    138

In [23]:
new_row = {'Name':'undertaker','English':34,'Maths':89,'Chemistry':78}
df=df.append(new_row,ignore_index=True)

In [24]:
df

         Name  English  Maths  Chemistry  Total
0        Sara       26     34         45  105.0
1        Malu       29     45         56  130.0
2       Roman       37     34         67  138.0
3  undertaker       34     89         78    NaN

## Deleting Rows And Columns From The DataFrame

In [25]:
df.drop(columns=['Maths','Total'],inplace=True)
df

         Name  English  Chemistry
0        Sara       26         45
1        Malu       29         56
2       Roman       37         67
3  undertaker       34         78

In [26]:
df.drop(index=[2],inplace=True)
df

         Name  English  Chemistry
0        Sara       26         45
1        Malu       29         56
3  undertaker       34         78

In [ ]:
#df.drop(columns=['Total','Maths'],index=[2],inplace=True)

## DataFrame Attributes

In [29]:
df = pd.DataFrame(data=data_list, columns=['Name','English','Maths'])
df

    Name  English  Maths
0   Sara       26     34
1   Malu       29     45
2  Roman       37     34

In [30]:
df.T

            0     1      2
Name     Sara  Malu  Roman
English    26    29     37
Maths      34    45     34

In [31]:
df.dtypes

Name       object
English     int64
Maths       int64
dtype: object

In [32]:
df.empty

False

In [33]:
df.shape

(3, 3)

In [34]:
df.size

9

In [35]:
df.values

array([['Sara', 26, 34],
       ['Malu', 29, 45],
       ['Roman', 37, 34]], dtype=object)

In [37]:
df.head(1)

   Name  English  Maths
0  Sara       26     34

In [38]:
df.tail(1)

    Name  English  Maths
2  Roman       37     34

## DataFrame Functions

In [39]:
data_list = [
             ['Sara',26,34],
             ['Malu',29,45],
             ['Roman',37,34],
]

df = pd.DataFrame(data=data_list, columns=['Name','English','Maths'])
df

    Name  English  Maths
0   Sara       26     34
1   Malu       29     45
2  Roman       37     34

In [40]:
df.count()

Name       3
English    3
Maths      3
dtype: int64

In [41]:
df['Name'].count()

3

In [44]:
df.sum()

Name       SaraMaluRoman
English               92
Maths                113
dtype: object

In [42]:
df['Maths'].sum()

113

In [45]:
df.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

English    30.666667
Maths      37.666667
dtype: float64

In [46]:
df['Maths'].mean()

37.666666666666664

In [47]:
df['Maths'].std()

6.3508529610858835

In [48]:
df['Maths'].min()

34

In [49]:
df['Maths'].max()

45

## DataFrame Grouping Values

In [50]:
data_list = [
             ['sara','M','kerala',24,34],
             ['malu','F','kerala',35,46],
             ['roman','M','karnataka',40,34],
             ['divya','F','karnataka',56,45]
]

df = pd.DataFrame(data_list, columns=['Name','Sex','State','English','Maths'])
df

    Name Sex      State  English  Maths
0   sara   M     kerala       24     34
1   malu   F     kerala       35     46
2  roman   M  karnataka       40     34
3  divya   F  karnataka       56     45

In [51]:
sex_group = df.groupby('Sex')
sex_group

In [52]:
for name,group in sex_group:
  print(name)
  print(group)

F
    Name Sex      State  English  Maths
1   malu   F     kerala       35     46
3  divya   F  karnataka       56     45
M
    Name Sex      State  English  Maths
0   sara   M     kerala       24     34
2  roman   M  karnataka       40     34

In [53]:
sex_group.English.max()

Sex
F    56
M    40
Name: English, dtype: int64

In [54]:
sex_state_group = df.groupby(['Sex','State'])

for name,group in sex_state_group:
  print(name)
  print(group)

('F', 'karnataka')
    Name Sex      State  English  Maths
3  divya   F  karnataka       56     45
('F', 'kerala')
   Name Sex   State  English  Maths
1  malu   F  kerala       35     46
('M', 'karnataka')
    Name Sex      State  English  Maths
2  roman   M  karnataka       40     34
('M', 'kerala')
   Name Sex   State  English  Maths
0  sara   M  kerala       24     34

## DataFrame loc and iloc methods